
{#-- Template Inheritance (w/ Jinja2) #}
{#-- Child Template #}
{% extends "layout.html" %}

<!-- Jinja block called "content" -->
{% block content %}
    

    <!-- Jinja for block here -->
    {% for post in posts %} 
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.houseType }} in {{ post.city }}</a>
                <small class="text-muted"> for ${{ post.dailyPrice }} per day</small>
              </div>
              <h2><a class="article-title" href="#">{{ post.postTitle }}</a></h2>
              <p class="article-content">{{ post.description }} </p>
            </div>
        </article>

    {% endfor %}

{% endblock content %}